<!DOCTYPE html>
<html>

{% include head.html %}

<body class="class-list">
	{% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			<h1 class="page-heading">{{page.title}}</h1>
			<p id="spellSearch">Search by name: <input type="search" id="jetsSearch"></p>

			{% for level in site.data.levels %}
			{% if level.tag == page.tag %}
			<a id="{{level.tag}}"></a>
			<h2 class="post-list-head jetsHide">{{level.name}}</h2>
			{% assign post_list = site.tags[level.tag] | sort: 'title' %}
			{% for post in post_list %}
			{% for tag in post.tags %}
			{% if tag == page.tag %}
			<ul class="post-list jetsContent">
				<li>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</li>
			</ul>
			{% endif %}
			{% endfor %}
			{% endfor %}
			<a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>

	{% include footer.html %}

</body>

</html>